In [1]:
import os, sys, joblib
import helpers
import solution.pipeline as pipeline
import pandas as pd
import sklearn.preprocessing as preprocessing
import solution.categories as categories

Using TensorFlow backend.

In [2]:
 # Cache the train and test data in {repo}/__data__.
cachedir = os.path.join(sys.path[0], '__data__')
memory = joblib.Memory(cachedir=cachedir, verbose=0)

/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: The 'cachedir' parameter has been deprecated in version 0.12 and will be removed in version 0.14.
You provided "cachedir='/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python36.zip/__data__'", use "location='/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python36.zip/__data__'" instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
X_train, y_train = helpers.get_data()
X_test, y_test = helpers.get_data(subset="test")

In [4]:
X_train[0:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>workclass</th>
      <th>fnlwgt</th>
      <th>education</th>
      <th>education-num</th>
      <th>marital-status</th>
      <th>occupation</th>
      <th>relationship</th>
      <th>race</th>
      <th>sex</th>
      <th>capital-gain</th>
      <th>capital-loss</th>
      <th>hours-per-week</th>
      <th>native-country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>39</td>
      <td>State-gov</td>
      <td>77516</td>
      <td>Bachelors</td>
      <td>13</td>
      <td>Never-married</td>
      <td>Adm-clerical</td>
      <td>Not-in-family</td>
      <td>White</td>
      <td>Male</td>
      <td>2174</td>
      <td>0</td>
      <td>40</td>
      <td>United-States</td>
    </tr>
    <tr>
      <th>1</th>
      <td>50</td>
      <td>Self-emp-not-inc</td>
      <td>83311</td>
      <td>Bachelors</td>
      <td>13</td>
      <td>Married-civ-spouse</td>
      <td>Exec-managerial</td>
      <td>Husband</td>
      <td>White</td>
      <td>Male</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>United-States</td>
    </tr>
    <tr>
      <th>2</th>
      <td>38</td>
      <td>Private</td>
      <td>215646</td>
      <td>HS-grad</td>
      <td>9</td>
      <td>Divorced</td>
      <td>Handlers-cleaners</td>
      <td>Not-in-family</td>
      <td>White</td>
      <td>Male</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>United-States</td>
    </tr>
    <tr>
      <th>3</th>
      <td>53</td>
      <td>Private</td>
      <td>234721</td>
      <td>11th</td>
      <td>7</td>
      <td>Married-civ-spouse</td>
      <td>Handlers-cleaners</td>
      <td>Husband</td>
      <td>Black</td>
      <td>Male</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>United-States</td>
    </tr>
    <tr>
      <th>4</th>
      <td>28</td>
      <td>Private</td>
      <td>338409</td>
      <td>Bachelors</td>
      <td>13</td>
      <td>Married-civ-spouse</td>
      <td>Prof-specialty</td>
      <td>Wife</td>
      <td>Black</td>
      <td>Female</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>Cuba</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
X_train.apply(pd.Series.nunique)

age                  73
workclass             8
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           14
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       41
dtype: int64

It seems the highest cardinality is the native-country column. Let's look at the different ways to encode them

## Label Encoding

simplest way is to assign each value a unique integer. This is usually a bad idea but it is nonetheless a way of encoding

In [6]:
label_encoder_pp = helpers.to_pipeline(("ohe", preprocessing.OneHotEncoder(handle_unknown='ignore', categories=categories.get_categories())))
ohe_pipeline = pipeline.get_pipeline(label_encoder_pp, input_dim=112)

helpers.execute_on_pipeline(ohe_pipeline, X_train, y_train, X_test, y_test)

/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Epoch 1/3

 - 4s - loss: 0.3933 - mean_absolute_error: 0.2272 - acc: 0.8347

Epoch 2/3

 - 3s - loss: 0.3552 - mean_absolute_error: 0.2120 - acc: 0.8512

Epoch 3/3

 - 4s - loss: 0.3631 - mean_absolute_error: 0.2077 - acc: 0.8551

/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9070609499088447

In [7]:
ordinal_pp = helpers.to_pipeline(("ordinalencoder", preprocessing.OrdinalEncoder()))
ordinal_pipeline = pipeline.get_pipeline(ordinal_pp, input_dim=14)

helpers.execute_on_pipeline(ordinal_pipeline, X_train, y_train, X_test, y_test)

/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Epoch 1/3

 - 2s - loss: 0.5868 - mean_absolute_error: 0.3610 - acc: 0.7520

Epoch 2/3

 - 3s - loss: 0.5945 - mean_absolute_error: 0.3680 - acc: 0.7214

Epoch 3/3

 - 3s - loss: 0.4851 - mean_absolute_error: 0.3224 - acc: 0.7760

/home/pascalwhoop/.virtualenvs/radix_challenge_3.6/lib/python3.6/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.8211328340548176

In [ ]:
q